# Eksik Değerlerin İncelenmesi

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
planets = sns.load_dataset('planets')
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.isnull()

      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]

In [6]:
df.isnull().values

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False]])

In [7]:
df.isnull().values.any()

True

In [9]:
df.isnull().sum()
# hangi değişkende kaç tane boş değer var ?

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [10]:
# boş değerleri 0 değerini verebiliriz.
# df['degisken_ismi'].fillna(0, inplace=True)

In [13]:
# boş değerlere, değişkenin ortalaması değerini verebiliriz.
# df['orbital_period'].fillna(df.orbital_period.mean(), inplace=True)

# Veri setinin içerisindeki tüm eksik değerleri ortalama değeri ile doldurmak için;
# df.fillna(df.mean(), inplace=True)

In [15]:
df.isnull().values.any()

True

In [17]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [18]:
df['orbital_period'].fillna(0, inplace=True)

In [19]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [22]:
df['orbital_period'].fillna(df.orbital_period.mean(), inplace=True)
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [27]:
df['mass'].fillna(0, inplace=True)
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [28]:
df['distance'].fillna(df.distance.mean(), inplace=True)
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64